<%- include('./partials/header'); -%>

    <div class="my-dashboard-cont">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="<%=profileImgUrl%>" alt="no profile image available">
                </div>
                <div class="col-9">
                    <p>
                        <%=profileName %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <%- include('./partials/footer'); -%>