<%- include('./partials/header'); -%>

    <!-- <div class="container">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="#" onclick="signOut();">Sign out</a>
    </div> -->
    <div class="container">
        <div id="g_id_onload" data-client_id="<%= YOUR_GOOGLE_CLIENT_ID %>" data-context="signin" data-ux_mode="popup" data-login_uri="https://polar-shelf-27307.herokuapp.com/login" data-auto_prompt="false">
        </div>

        <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="filled_black" data-text="signin_with" data-size="large" data-logo_alignment="right">
        </div>
    </div>
    <%- include('./partials/footer'); -%>